<h1>Une nouveau mail a bien été reçu via la page de contact.</h1>
Voici les informations : 
<hr>
Nous avons bien reçu : son nom Mr {{ data.nom }} , son email {{ data.email}}.
son message est {{ data.message}}