<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>bienvenue {{ username}} sur la page d'accueil</h1>
    <hr>
    Super génial. Mais ce mail s'expierera dans 7 jours soit :  
</body>
</html>